# 源码目录（不发布到 GitHub）
src/

# 等待目录
wait/

# Python 文件
*.py

# Windows 快捷方式
*.lnk

# 构建临时目录
.temp_public/

# 构建输出目录（不发布到 GitHub）
public/
index.html

# 依赖目录
node_modules/

# 日志文件
*.log
npm-debug.log*

# 操作系统文件
.DS_Store
Thumbs.db
